body{
    animation: seize 2s linear infinite;
}
#wrapper{
    transition: 2s;
}

/* Task 1: Hover Highlight Card */
.hover-highlight-card {
    padding: 20px;
    transition: 0.5s;
    background: #ff0000;
    color:#0000ff
}

.hover-highlight-card:hover {
    background: #00ffff;
    color:#ffff00;
    box-shadow: 10px 5px 5px #00ff00;
}

/* Task 2: Animated Navigation Menu */
.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a {
    display:inline-block;
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #ffff00;
    background-color: #ff00ff;
    transform: scale(1,1);
    transition: 3s ease-in-out;
}

.animated-nav-menu a:hover{
    color: #ff00ff;
    background: #ffff00;
    transform: scale(10,1);
    border-radius: 100px;
}

/* Task 3: Button Press Animation */
.button-press-animation button {
    padding: 10px 20px;

    background-color: #00ff00;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    border: 10px gray outset;
}

.button-press-animation button:active{
    background-color: #ff00ff;
    color: #ffff00;
    cursor: crosshair;
    transform: rotate3d(1, 1, 1, 360deg) scale(1.1,1.1);
    border: 10px gray inset;
}


/* Task 4: Simple Loading Spinner */
.simple-loading-spinner .spinner {
    border: 4px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spinner 1s linear infinite forwards;
}

@keyframes spinner {
    from{
        transform: rotate(0deg);
        border-top: 8px dotted #000000;
        border-radius: 100%;
    }
    50%{
        border-radius: 0;
    }
    to{
        border-top: 8px dotted #00ff00;
        border-radius: 100%;
        transform: rotate(360deg);
    }
}

/* Task 5: Fading Gallery */
.fading-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fading-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: 1s;
    border:10px inset;
    animation: flop 5s ease-in-out infinite alternate;
    overflow: clip;
}
.fading-gallery img:hover{
    opacity: 0.5;
    box-shadow: 30px 15px 15px #00ff00;
    animation-play-state: paused;
    transform: scale(2,2) rotate(360deg);
    border-radius: 100%;
}

@keyframes flop {
    from{
        transform: skew(50deg) scale(2,1);
    }
    to{
        transform: skew(-50deg) scale(1,2);
    }
}

@keyframes seize {
    0%{
        background:#ff0000
    }
    25%{
        background: #ff00ff;
    }
    27%{
        background: #ffff00;
    }
    50%{
        background: #ffaa00;
    }
    75%{
        background:#00ff00
    }
    100%{
        background: #0000ff;
    }
}