body{
    background: url("../assets/OrionTwinkle.gif") repeat 0 0;
    margin: 0;
}

.main-content{
    background: tan;
    width:70%;
    margin: 0 auto 10vh;
    padding: 1% 2%;
}

.title-content{
    margin-bottom:2vh;
}

.title-text{
    font-family: Honk, emoji;
    text-align: center;
    font-size: 7em;
    font-style: italic;
    transform: scale(1,1.3);
    margin:0;
}

.footer{
    color:gray;
    font-size: 1em;
    text-align: center;

}

/*
    article text types
*/

.article-paragraph{
    color:black;
    font-family: "Gloria Hallelujah", system-ui;
    width: 100%;
    font-size: 1.5em;
}

.article-header{
    color: black;
    font-size: 5em;
    font-weight: bold;
    font-family: "Jacquard 12", system-ui;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-align: center;
    transform: scale(1,1.3);

}

.article-quote{
    color: #666666;
    font-family: "Sedan SC", cursive;
    font-weight: 400;
    font-style: normal;
    border-left: #666666 5px solid;
    padding-left: 10px;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.16);
}

.article-subhead{
    color:gray;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    transform: scale(1.5,1);
}

.article-ordered-list{
    color: hsl(0 100 50);
    font-family: "Sedan SC", cursive;
    font-weight: 400;
    font-style: normal;
    border:5px dashed black;
    padding-left: 40px;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.16);
}

.article-ordered-list li{
    transition: 1s;
}

.article-ordered-list li:hover{
    transform: scale(1.5);
    color: hsl(180 100 50);
    background: rgba(255, 0, 0, 0.44);
}

.article-footer-item{
    font-size: 1.3em;
    font-family: Danfo, ui-rounded;
}

.article-footer-title{
    font-size: 1.4em;
    font-family: Danfo, ui-rounded;
}

/*
    article images
*/

.article-image-container{
    border-left: #666666 5px solid;
    background: rgba(0, 0, 0, 0.16);
    text-align:center;
}

.article-image{
    display: inline-block;
    opacity: 0.5;
    transition: 1s;
    margin:15px
}

.article-image img{
    width: 200px;
    height: 200px;
}

.article-image:hover{
    opacity: 1;
    transform: rotate(45deg) scale(2);
}

.article-image .article-image-caption{
    opacity: 0;
    transition: 1s;
}

.article-image:hover .article-image-caption {
    opacity: 1;
    background: red;
}