body{
    background: url("../assets/background_stars.gif") repeat 0 0;
    margin: 0;
}

.main-content{
    background: tan;
    height:140vh;
    width:70%;
    margin: 10vh auto 10vh;
}

.title-text{
    font-family: UncleSam, emoji;
    color: white;
}