#paragraph-wrapper{
    width: 75%;
    height: 75%;
}
#extras-wrapper{
    width:100%
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item{
    border-radius: 10px;
    width:100%;
    transition:1s
}
#blur{
    width: 81vmin;
    height:81vmin;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    filter: blur(4px);
    background-image:  linear-gradient(var(--pallete-3), var(--pallete-5));
}
#image{
    box-shadow: 0 0 0 #00000000;
    transition: 0.5s;
}
#image:hover{
    box-shadow: 10px 5px 5px var(--background-low);
}